## GSE239626

| GEO Accession | Provided Information | Technology Used | Type of Data | Tissue/Cell Type Analyzed | Specific Samples |
|---------------|----------------------|------------------|--------------|----------------------------|------------------|
| GSE239626     | Gene expression profiling using high-throughput sequencing (scRNA-seq and CITE-seq) | scRNA-seq, CITE-seq | Processed matrix (gene expression) | Peripheral blood mononuclear cells (PBMCs) | Multiple sclerosis patients treated with high-dose vitamin D and placebo |

In [2]:
from GSE239626.load_GSE239626 import load_GSE239626

genomic_matrix_df, gene_expression_df, antibody_capture_df, family_phenotype_df = load_GSE239626()
# 7 min to load first time, 10 sec for subsequent runs

In [3]:
help(load_GSE239626)

Help on function load_GSE239626 in module GSE239626.load_GSE239626:

load_GSE239626()
    Load data from GSE239626 dataset

    Returns:
        genomic_matrix_df (pd.DataFrame): Genomic matrix data
        gene_expression_df (pd.DataFrame): Gene expression data, subset of genomic matrix
        antibody_capture_df (pd.DataFrame): Antibody capture data, subset of genomic matrix
        family_phenotype_df (pd.DataFrame): Family phenotype data

In [14]:
gene_expression_df.head(2)

,ID,symbol,expression,AAACCCAAGACTGTTC-1,AAACCCAAGGATCATA-1,AAACCCAGTTATTCTC-1,AAACCCATCATGAGGG-1,AAACGAAAGCCAGTAG-1,AAACGAAAGCTGACAG-1,AAACGAAAGTAATACG-1,...,TTTGGTTAGCTTTCCC-20,TTTGGTTGTTTCGACA-20,TTTGGTTTCAGACCCG-20,TTTGGTTTCTCATAGG-20,TTTGGTTTCTGTAACG-20,TTTGTTGAGCGTCGAA-20,TTTGTTGAGTGTACCT-20,TTTGTTGCAATTGCAC-20,TTTGTTGCATTCAGCA-20,TTTGTTGGTGGGTTGA-20
0,ENSG00000243485,MIR1302-2HG,Gene Expression,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000237613,FAM138A,Gene Expression,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
antibody_capture_df.head(2)

,ID,symbol,expression,AAACCCAAGACTGTTC-1,AAACCCAAGGATCATA-1,AAACCCAGTTATTCTC-1,AAACCCATCATGAGGG-1,AAACGAAAGCCAGTAG-1,AAACGAAAGCTGACAG-1,AAACGAAAGTAATACG-1,...,TTTGGTTAGCTTTCCC-20,TTTGGTTGTTTCGACA-20,TTTGGTTTCAGACCCG-20,TTTGGTTTCTCATAGG-20,TTTGGTTTCTGTAACG-20,TTTGTTGAGCGTCGAA-20,TTTGTTGAGTGTACCT-20,TTTGTTGCAATTGCAC-20,TTTGTTGCATTCAGCA-20,TTTGTTGGTGGGTTGA-20
36601,CCR4,CCR4_TotalSeqB,Antibody Capture,5,0,0,1,0,0,0,...,0,2,0,0,0,0,0,0,3,0
36602,CCR5,CCR5_TotalSeqB,Antibody Capture,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,3

In [6]:
family_phenotype_df.head(2)

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,taxid_ch1,...,contact_zip/postal_code,contact_country,instrument_model,library_selection,library_source,library_strategy,relation,supplementary_file_1,series_id,data_row_count
GSM7669046,"Patient Placebo N1 J0, GEX",GSM7669046,Public on Oct 05 2023,Jul 31 2023,Oct 05 2023,SRA,1,Blood,Homo sapiens,9606,...,34094,France,Illumina NovaSeq 6000,cDNA,transcriptomic single cell,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,NONE,GSE239626,0
GSM7669047,"Patient Placebo N1 J0, ADT",GSM7669047,Public on Oct 05 2023,Jul 31 2023,Oct 05 2023,SRA,1,Blood,Homo sapiens,9606,...,34094,France,Illumina NovaSeq 6000,cDNA,other,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,NONE,GSE239626,0

## GSE159033

| GEO Accession | Provided Information | Technology Used | Type of Data | Tissue/Cell Type Analyzed | Specific Samples |
|---------------|----------------------|------------------|--------------|----------------------------|------------------|
| GSE159033     | Whole-transcriptome profiling in PBMCs from patients with LS-OCMB characterization reveals 4 RNAs as biomarkers of highly active disease | Non-coding RNA profiling by array, RNA-seq | Processed data (miRNA) | Peripheral blood mononuclear cells (PBMCs) | Multiple sclerosis patients with positive and negative LS-OCMB status |

In [7]:
from GSE159033.load_GSE159033 import load_GSE159033

genomic_matrix_df, family_phenotype_df = load_GSE159033()

In [8]:
help(load_GSE159033)

Help on function load_GSE159033 in module GSE159033.load_GSE159033:

load_GSE159033()
    Load data from GSE159033 dataset

    Returns:
        genomic_matrix_df (pd.DataFrame): Genomic matrix data
        family_phenotype_df (pd.DataFrame): Family phenotype data

In [9]:
genomic_matrix_df.head(2)

,ID,Accession_ID,Accession,Transcript ID(Array Design),Sequence Type,Species Scientific Name,Alignments,Sequence Length,Sequence,Genome Context,...,GSM4817990,GSM4817991,GSM4817992,GSM4817993,GSM4817994,GSM4817995,GSM4817996,GSM4817997,GSM4817998,GSM4817999
0,20500112,MIMAT0000062_st,MIMAT0000062,hsa-let-7a-5p,miRNA,Homo sapiens,chr11:122017276-122017297 (-) /// chr22:465086...,22,UGAGGUAGUAGGUUGUAUAGUU,ENST00000362295 // sense // exon // 1 /// ENST...,...,10.98,12.64,11.17,11.89,11.50,11.56,11.73,11.55,12.16,11.64
1,20500113,MIMAT0004481_st,MIMAT0004481,hsa-let-7a-3p,miRNA,Homo sapiens,chr22:46508680-46508700 (+) /// chr9:96938295-...,21,CUAUACAAUCUACUGUCUUUC,ENST00000362295 // sense // exon // 1 /// ENST...,...,1.34,0.89,1.11,1.14,0.77,0.96,0.79,1.21,1.35,1.38

In [10]:
family_phenotype_df.head(2)

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,taxid_ch1,...,contact_name,contact_email,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,series_id,data_row_count
GSM4817989,Sample04-positive,GSM4817989,Public on Dec 21 2020,Oct 05 2020,Dec 22 2020,RNA,1,Blood,Homo sapiens,9606,...,"Maider,,MuÃƒÂ±oz-Culla",maider.munoz@ehu.eus,Biodonostia Institute,Paseo Dr.Begiristain s/n,San Sebastian,20014,Spain,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM4817...,"GSE159033,GSE159036",6631
GSM4817990,Sample05-positive,GSM4817990,Public on Dec 21 2020,Oct 05 2020,Dec 22 2020,RNA,1,Blood,Homo sapiens,9606,...,"Maider,,MuÃƒÂ±oz-Culla",maider.munoz@ehu.eus,Biodonostia Institute,Paseo Dr.Begiristain s/n,San Sebastian,20014,Spain,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM4817...,"GSE159033,GSE159036",6631

##  GSE173787

### First dataset

Contains 12 HC (healthy condition) patients and 17 MS (multiple sclerosis) patients.